<strong>Olá, {{name}}</strong>
<p>Parabéns por se registrar na GymPoint. Estes são os dados do plano escolhido:</p>
<p>
  <strong>Plano: {{title}}</strong><br />
  <strong>Duração: {{duration}}</strong><br />
  <strong>Data de término</strong>: {{date}}<br />
  <strong>Valor Mensal</strong>: R$ {{price}} / mês <br />
  <br>
</p>